{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "jquery": true
  },

  "plugins": [
    "react"
  ],

  "parser": "babel-eslint",

  "parserOptions": {
    "sourceType": "module"
  },

  "extends": ["eslint:recommended", "plugin:react/recommended"],

  "ecmaFeatures": {
    "arrowFunctions": true,
    "classes": true,
    "templateStrings": true,                   // enable template strings
    "objectLiteralComputedProperties": true,
    "objectLiteralShortandMethods": true,
    "spread": true,
    "destructuring": true,
    "unicodeCodePointEscapes": false,           // enable code point escapes
    "jsx": true                                 // enable JSX
  },

  "rules": {
    "quotes": 0,
    "semi": 0,
    "no-console": 0,
    "no-unused-vars": ["error", { "vars": "local", "args": "none" }]
  },

  "globals": {
    "expect": true
  }
}
