@import "_vars";

@import '_header';
@import '_spinner';
@import '_books';
@import '_rating';

.capitalized {
  text-transform: capitalize;
}

.backdrop {
  background: rgba(255,255,255, 0.75);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.cameo {
  border-radius: 50%;
}
